{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My HTML page</title>
    <link rel="stylesheet" href={% static 'css/style2.css' %}>
  </head>
  <body>
    <h1>Logistics Management System</h1>
    <h2>Client</h2>
    <h3>Track Packages</h3>
    <h4>Product Details</h4>
    <h5>Result</h5>
    {% if not success %}
    <div>Product ID not found!</div>
    {% else %}
    <table>
      <tr>
        <th>Tracking ID</th>
        <th>Current Location</th>
        <th>Product Route</th>
        <th>Payment Status</th>
        <th>Price</th>
        <th>Seller Name</th>
        <th>Seller Phone Number</th>
        <th>Seller City</th>
      </tr>

      <div>
        <tr>
          <td>{{productData.trackingID}}</td>
          <td>{{productData.currentLocation}}</td>
          <td>{{productData.productRoute}}</td>
          <td>{{productData.paymentStatus}}</td>
          <td>{{productData.price}}</td>
          <td>{{sellerData.sellerName}}</td>
          <td>{{sellerData.phoneNumber}}</td>
          <td>{{sellerData.city}}</td>
        </tr>
      </div>
    </table>
    {% endif %}
  </body>
</html>
