{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Seller Track Packages</title>
    <!--<link rel="stylesheet" type="text/css" href="css/style.css">  -->
    <link rel="stylesheet" type="text/css" href={% static 'css/style2.css' %}>
  </head>

  <body>
    <h1>Logistics Management System</h1>
    <h2>Client</h2>
    <h3>Track Packages</h3>
    <h4>Current Location</h4>
    <br />
    <p>Please enter the tracking ID of the package whose location you want</p>
    <form method="POST">
      {% csrf_token %}
      <label><b>ID</b></label>
      <input type="text" name="trackingID" id="ID" placeholder="Tracking ID" />
      <br />
      <br />
      <input type="submit" />
      <br />
    </form>
  </body>
</html>
