{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>LMS Home Page</title>
    <link rel="stylesheet" href={% static 'css/home_page.css' %}>
  </head>
  <body>
    <form>
      <h1>LMS</h1>
      <h1>Logistic Management System</h1>
      <p>Continue as:</p>
      <button class="btn"><a href="buyer.html">Buyer</a></button>
      <button class="btn"><a href="login.html">Seller</a></button>
      <button class="btn"><a href="login.html">Rider</a></button>
      <button class="btn"><a href="login.html">Warehouse Handler</a></button>
      <button class="btn"><a href="login.html">Company</a></button>
    </form>
  </body>
</html>
