{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>My HTML page</title>
      <link rel="stylesheet" href={% static 'css/style2.css' %}>
   </head>
   <body>
      <h1>Logistics Management System</h1>
      <h2>Seller</h2>
      <p> Welcome! Thank you for selling with us! Select which feature you’d want to use
      </p>
      
   
   <a href = 'products'>
    <button>Track Packages </button>
</a>
</button>

<a href = 'client'>
 <button>
   Obtain Client Information
</button>
</a>

<a href = 'updates'>
 <button>
   Check Updates on orders
</button>
</a>
      
   </body>
</html>