{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Seller Track Packages</title>
    <!--<link rel="stylesheet" type="text/css" href="css/style.css">  -->
    <link rel="stylesheet" type="text/css" href={% static 'css/style2.css' %}>
  </head>
  <body>
    <h1>Logistics Management System</h1>
    <h2>Seller</h2>
    <h3>Track Packages</h3>
    <br />
    <p>Please select the kind of information you want about your package</p>

    <p>Testing some stuff</p>

    <a href="SellerTrackProductDets.html">
      <button>Product Details</button>
    </a>
    <a href="SellerTrackRiderInfo.html">
      <button>Rider Information</button>
    </a>
    <a href="SellerTrackCurrentLoc.html">
      <button>Current Location</button>
    </a>
  </body>
</html>
