{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>SignUp Page</title>
        <link rel="stylesheet" href={% static 'css/signup.css' %}>
  </head>
    </head>
    <body>
        <form>
            <h1>Sign Up</h1>
            <div class="textBoxdiv">
                <input type="text" placeholder="Full Name">
            </div>
            <div class="textBoxdiv">
                <input type="text" placeholder="Email">
            </div>
            <div class="textBoxdiv">
                <input type="text" placeholder="Phone">
            </div>
            <div class="textBoxdiv">
                <input type="password" placeholder="Password">
            </div>
            <div class="textBoxdiv">
                <input type="password" placeholder="Confirm Password">
            </div>
            <input type="submit" value="Sign Up" class="signupBtn">
        </form>
    </body>
</html>