{% load static %}
<!DOCTYPE html>    
<html>    
<head>    
    <meta charset="utf-8">
    <title>Seller Track Packages</title>    
    <!--<link rel="stylesheet" type="text/css" href="css/style.css">  --> 
    <link rel="stylesheet" type="text/css" href={% static 'css/style2.css' %}>
</head>    
<body>    
    <h1>Logistics Management System</h1>
    <h2>Warehouse</h2> 
       <h3>Register New Seller/ Login as Old Seller</h3>

       <a href = 'newseller'>
        <button>Register New Seller </button>
       </a>
       </button>

       <a href = 'oldseller'>
        <button>Login as Old Seller </button>
       </a>
       </button>
        <br>   
</body>    
</html> 